/*----------------------- online-life --------------------*/

.block_title, .post-title, .footer-wrap {
  display: none !important;
  visibility: hidden !important;
}

#mc-container, #films, #vk_groups, #document, #back-top-x {
  display: none !important;
  visibility: hidden !important;
}

noindex {
  display: none !important;
  visibility: hidden !important;
}

