body {
	cursor: default;
	font-family: Open Sans, sans-serif;
	font-size: 12px;
	margin: 0;
}

body > * {
	box-sizing: border-box;
	display: block;
	margin: 0;
	width: 100%;
	white-space: nowrap;
}

body > :not(hr) {
	-webkit-appearance: none;
	background: transparent;
	border: 0;
	font: inherit;
	line-height: 18px;
	overflow: hidden;
	padding: 2px 19px;
	text-overflow: ellipsis;
}

body > hr {
	background: rgba(0, 0, 0, 0.1);
	border: 0;
	height: 1px;
	margin: 2px 0;
}

body > :not(a) {
	color: #bbb;
}

body > h1 {
	font-weight: bold;
}

body > span {
	font-style: italic;
}

body > a:hover {
	background-color: #336599;
	color: #fff;
}

body > a.checked::before {
	content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAQAAAADpb+tAAAAaElEQVR4Xl3PIQoCQQCF4Y8JW42D1bDZ4iVEjDbxFpstYhC7eIVBZHkXFGw734sv/TqDQQ8Xb1udja/I8igeIm7Aygj2IpoKTGZnVRNxAHYi4iPiDlA9xX+aNQDFySziqDN6uSp6y7ofEMwZ05uUZRkAAAAASUVORK5CYII=');
	position: absolute;
	left: 0.2em;
	margin-top: 0.1em;
}

body > [hidden],
body > [hidden] + * {
	display: none;
}
